body{
    max-width: 100%;
    margin: auto;
}
.container{
    display: none;
}
p{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.image-list ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    text-align: center;
}
.image-list li{
    width: 20%;
}
.buttons{
    margin-top: 20px;
    text-align: center;
}